<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="context" style="width: 99%;height: 605px;">
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="height: 100%">
        <tr align="center">
            <td>用户头像</td>
        </tr>
        <tr>
            <td>用户名</td>
        </tr>
        <tr>
            <td>用户手机</td>
        </tr>
        <tr>
            <td>用户邮箱</td>
        </tr>
        <tr>
            <td>用户注册日期</td>
        </tr>
        <tr>
            <td>用户地址1</td>
        </tr>
        <tr>
            <td>用户地址2</td>
        </tr>
        <tr>
            <td>用户地址3</td>
        </tr>
    </table>
</div>
</body>
</html>